<div>
  <form #viewtaskForm="ngForm" (ngSubmit)="submit(viewtaskForm)" name="ngform">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">View Task</div>
        <div class="panel-body">
          <div class="form-group">
            <div class="row" style="padding-bottom: 15px;  border-bottom: 1px dashed blue;">
              <div class="col-sm-6">
                <label for="">Task: </label> &nbsp;
                <input type="text" style="margin-bottom: 5px;"
                (input)="onTaskChange($event.target.value)" class="form-control">
                <label for="">Priority From: </label> &nbsp;
                <input type="number" style="width:100px;"
                (input)="onPriorityFromChange($event.target.value)"  class="form-control">
                <label for="">Priority To: </label> &nbsp;
                <input type="number" style="width:103px;"
                (input)="onPriorityToChange($event.target.value)"  class="form-control">
              </div>
              <div class="col-sm-6">
                <label for="">Parent Task: </label> &nbsp;
                <input type="text" style="width:305px; margin-bottom: 5px;"
                (input)="onParentTaskChange($event.target.value)"  class="form-control">
                <label for="">Start Date: </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="date" style="width:110px;" 
                (input)="onStartDateChange($event.target.value)" class="form-control">
                <label for="">End Date: </label> &nbsp;
                <input type="date" style="width:110px;" 
                (input)="onEndDateChange($event.target.value)" class="form-control">
              </div>
            </div>
            <div class="col-sm-12" *ngFor="let tsk of filteredTasks">
              <div class="row">
                <div class="col-sm-2 pull-left" > Task</div>
                <div class="col-sm-2 pull-left" style="margin-left: 5px;"> Parent</div>
                <div class="col-sm-1 pull-left"> Priority</div>
                <div class="col-sm-2 pull-left"> Start</div>
                <div class="col-sm-2 pull-left"> End</div>
                <div class="pull-left"></div>
              </div>
              <div class="row" >
                <div class="col-sm-2 pull-left" style="background-color:lightgray; height: 50px; "> {{tsk.TaskName}}</div>
                <div class="col-sm-2 pull-left" style="background-color:lightgray; height: 50px;margin-left: 5px;"> {{tsk.ParentTask?.Parent_Task}}</div>
                <div class="col-sm-1 pull-left"> {{tsk.Priority}}</div>
                <div class="col-sm-2 pull-left"> {{tsk.Start_Date | date:'yyyy-MM-dd'}}</div>
                <div class="col-sm-2 pull-left"> {{tsk.End_Date | date:'yyyy-MM-dd'}}</div>
                <div class="pull-left">
                  <button *ngIf="tsk.Status != 'Completed'" (click)="view(tsk.Task_ID)" class="btn btn-primary btn-md" style="width:80px;" name="Edit" id="Edit">  Edit </button> &nbsp;
                  <button *ngIf="tsk.Status != 'Completed'" (click)="delete(tsk.Task_ID)" class="btn btn-primary btn-md" style="width:80px;" name="Delete" id="Delete">  End Task </button></div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </form>
</div>