<div>
  <form #taskForm="ngForm" (ngSubmit)="submit(taskForm)" name="ngform">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">{{title}}</div>
        <div class="panel-body">
          
          <div class="form-group" [class.has-error]="taskName.touched && taskName.invalid">
            <div class="row">
              <div class="col-sm-3">
                <label for="TaskName" class="control-label">Task: </label>
              </div>
              <div class="col-sm-8">
                <input type="text" placeholder="Enter Task Name" class="form-control" id="TaskName" name="TaskName" [(ngModel)]="taskData.TaskName"
                  required #taskName="ngModel" minlength="10">
                  <div *ngIf="taskName.touched && taskName.invalid">
                    <span class="error" *ngIf="taskName.errors?.required">Name is required</span>
                    <span class="error" *ngIf="taskName.errors?.minlength">Minimum length is
                {{taskName.errors.minlength.requiredLength}} </span>
                  </div>
              </div>
            </div>
          </div>
          <div class="form-group" [class.has-error]="showdate && priority.touched && priority.invalid">
            <div class="row">
              <div class="col-sm-3">
                <label for="txtPriority">Priority:</label> </div>
              <div class="col-sm-8 ">
                <input id="Priority" [(ngModel)]="taskData.Priority" name="Priority" type="range" min="0"
                  max="30" class="form-control" step="1" required #priority="ngModel">
                  <div *ngIf="showdate && priority.touched && priority.invalid">
                    <span class="error" *ngIf="priority.errors?.required">Priority is required</span>
                  </div>
              </div>
            </div>
          </div>
          <div class="form-group" [class.has-error]="parenTtask.touched && parenTtask.invalid">
            <div class="row ">
              <div class="col-sm-3 ">
                <label for="Parent_Task">Parent Task:</label>
              </div>
              <div class="col-sm-8 ">
                <input id="Parent_Task" disabled placeholder="Select Parent Task" type="text" class="form-control" name="Parent_Task" [(ngModel)]="parenttask"
                  required #parenTtask="ngModel">
                  <button type="button" style="width:85px;" class="btn btn-info" (click)="openModal(Parenttemplate)"
                    name="Search">Search</button>

                    <ng-template #Parenttemplate class="wrapper">
                      <div class="modal-header">
                        <h4 class="modal-title pull-left ">Parent Tasks</h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()" name="Close">      
                        <span aria-hidden="true">&times;</span></button>
                      </div>
                      <div class="modal-body" >
                        
                        <!--<select ng-model="parentTaskList" ng-app [(ngModel)]="parent_ID" (change)="ontaskChange($event)" class="form-control" name="parentTaskList">
                      <option value="" selected disabled hidden>Choose here</option>
                     <option *ngFor = "let parenttask of parenttasks" value={{parenttask.Parent_ID}} >{{parenttask.Parent_Task}}</option>
                     </select>-->

                     <ngx-select-dropdown [config]="config" [options]="parenttasks" (change)="ontaskChange($event)"
            [(value)]="singleSelect" [multiple]="false" ></ngx-select-dropdown>
                      </div>  
                      <div class="modal-footer" >
                        <div class="pull-right">
                          <button (click)="modalRef.hide()" class="btn btn-primary">OK</button>
                        </div>
                      </div>
                    </ng-template>

                    <!-- <div *ngIf="parenTtask.touched && parenTtask.invalid">
                      <span class="error" *ngIf="parenTtask.errors?.required">parenTtask is required</span>
                    </div> -->
              </div>
            </div>
          </div>
          <div class="form-group" [class.has-error]="showdate && startDate.touched && startDate.invalid  && endDate.touched && endDate.invalid">
            <div class="row">
              <div class="col-sm-3">
                <label for="txtStartdate ">Start Date:</label>

              </div>
              <div class="col-sm-8">
                <input id="Start_Date" class="form-control" name="Start_Date" type="date" [ngModel]="taskData.Start_Date | date:'yyyy-MM-dd'"
                  required #startDate="ngModel">
              </div>
            </div>

          </div>
          <div class="form-group"  [class.has-error]="showdate && endDate.touched && endDate.invalid  && endDate.touched && endDate.invalid">

            <div class="row">
              <div class="col-sm-3">
                <label for="txtenddate">End Date:</label>

              </div>
              <div class="col-sm-8">

                <input id="End_Date" type="date" name="End_Date" [ngModel]="taskData.End_Date | date:'yyyy-MM-dd'"
                  class="form-control" required #endDate="ngModel">
                  <!-- <div *ngIf="showdate && startDate.touched && startDate.invalid && endDate.touched && endDate.invalid">
                    <span class="error" *ngIf="showdate && startDate.errors?.required">StartDate and EndDate is required</span>
                  </div> -->
              </div>
            </div>

          </div>
          

        </div>
        <div class="panel-footer">
          <div class="pull-right">
            <button type="submit" class="btn btn-md btn-primary" style="width:85px;" [disabled]="taskForm.invalid">{{ SubmitBtnName}}</button>            &nbsp;
            <button type="reset" style="width:85px;" class="btn btn-success">Reset</button>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </form>
</div>